numpy~=2.0.2
scanpy~=1.10.3
pandas~=2.2.3
anndata~=0.10.9
scipy~=1.14.1
rpy2~=3.5.11
scimilarity~=0.2.0.post1.dev14+g0681cd4
importlib-metadata~=8.5.0
torch~=2.5.0
networkx~=3.4.1
obonet~=1.1.0
pytorch-lightning~=2.4.0
tqdm~=4.66.5
setuptools~=75.2.0